$font-size-base:        19px !default;
$font-size-h1:          48px !default;
$font-size-h2:          27px !default;
$font-size-small:       14px !default;
$line-height-base:      1.4 !default;
$line-height-heading:   1.2 !default;
$font-family-base:      $transport-new-light !default;
$font-family-heading:   $transport-new-heavy !default;
$heading-spacing:       20px !default;
$paragraph-spacing:     20px !default;